<!doctype html>
{{ raw('head.html') -}}
<style>
{{ raw('styles.css') -}}
</style>
</head>
{{ raw('body.html') -}}
<script type="application/json" id="payload-data">__PAYLOAD_SENTINEL__</script>
<script>
{{ raw('js/01_state.js') -}}
{{ raw('js/02_ui_chrome.js') -}}
{{ raw('js/03_filters_hash.js') -}}
{{ raw('js/04_slice_cache.js') -}}
{{ raw('js/05_header.js') -}}
{{ raw('js/widgets/multiselect.js') -}}
{{ raw('js/widgets/transcript_trace.js') -}}
{{ raw('js/widgets/sequence_logo.js') -}}
{{ raw('js/widgets/evidence_row.js') -}}
{{ raw('js/tabs/temporal_v2.js') -}}
{{ raw('js/tabs/kinase_explorer.js') -}}
{{ raw('js/tabs/kinase_audit.js') -}}
{{ raw('js/tabs/kinase_detail.js') -}}
{{ raw('js/tabs/kinase_wiring.js') -}}
{{ raw('js/tabs/incytr_state.js') -}}
{{ raw('js/tabs/incytr_heatmap.js') -}}
{{ raw('js/tabs/incytr_pathways.js') -}}
{{ raw('js/boot.js') -}}
</script>
</body>
</html>
